<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="poly.persistance.mapper.IScheduleMapper">

<insert id="InsertScheduleInfo" parameterType="ScheduleDTO">
	INSERT INTO SOCCER_SCHEDULE(
		COLLECT_TIME,
		SCHEDULE_SEQ,
		DAY,
		TIME,
		TEAM_HOME,
		TEAM_AWAY,
		SCORE_HOME,
		SCORE_AWAY
	) VALUES (
		#{collect_time},
		SCHEDULE_SEQ.NEXTVAL,
		#{day},
		#{time},
		#{team_home},
		#{team_away},
		#{score_home},
		#{score_away}
		)
</insert>
</mapper>